.selectedScene {
	background-color: grey;
}
.left-bar__header {
	height: 44px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.App .splitter-layout .layout-splitter {
	background: #595858;
}
